.biike-station-page {
  padding: 0 10px 0 10px;
  .biike-station-tools {
    display: flex;
    justify-content: flex-end;
  }

  .biike-station-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .station-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item-details {
      }

      .item-tools {
        display: flex;
        gap: 10px;
      }
    }
  }
}
