.biike-admin-detail-modal {
  .admin-detail-modal-content {
    .admin-detail-modal-tools {
      display: flex;
      gap: 20px;
      justify-content: center;
    }
    .biike-modal-display {
      display: flex;
      flex-direction: column;
      .ant-form label {
        font-size: 10px !important;
      }
    }
    .span.ant-radio + * {
      font-size: 0.875rem !important;
      --tw-text-opacity: 1;
      color: rgba(107, 114, 128, var(--tw-text-opacity)) !important;
    }
  }
}
