.login-page {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    width: 100%;
  }
  .primary-text-color {
    color: var(--primary-color);
  }
}
