:root {
  --primary-color: #0c6ff9;
}

// overwrite ant design
.ant-message .ant-message-notice {
  text-align: right;
  padding-right: 15px;
}

.ant-image-preview-img-wrapper {
  display: inline-grid;

  img {
    margin: 0 auto;
    max-width: 900px;
  }
}
