.biike-default-layout {
  min-height: 100vh !important;

  .biike-layout-header {
    // height: 60px;
    background-color: white;
    display: flex;
    line-height: 20px !important;
  }

  .biike-layout-breadcrumb-item {
    cursor: pointer;
  }
  .biike-layout-content {
    overflow-y: scroll;
    height: calc(100vh - 64px - 40px);
  }

  .biike-layout-footer {
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-layout-sider {
    background-color: var(--primary-color) !important;
  }
  .ant-menu {
    background-color: var(--primary-color) !important;
  }
  .logo {
    width: 100px;
  }
}
